<a href="https://colab.research.google.com/github/piyushparsai/git-repo/blob/main/ExeMTech1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p,r,t  = 100,5,10
print(id(p))
print(type(p))
si = ( p * r * t)/100
print(p,r,t,si)
p,r,t  = 5000,7,5
print(id(p))
print(type(p))
si = ( p * r * t)/100
print(p,r,t,si)
print(type(100.00))

#this prog calcluated SI

11534080
<class 'int'>
100 5 10 50.0
140465534747120
<class 'int'>
5000 7 5 1750.0
<class 'float'>

In [ ]:
temp  = 12.45
print(type(temp))

<class 'float'>

In [ ]:
a , b = 100 , 50
print(a,b)
a,b = b,a
print(a,b)

100 50
50 100

This is just a text
This sections discusses operators

In [ ]:
10 + 12

22

In [ ]:
10/2

5.0

In [ ]:
11/2

5.5

In [ ]:
11//2

5

In [ ]:
11 % 5

1

In [ ]:
2 ** 5

32

In [ ]:
print(5 == 5)
print(5 != 4)
print(5 != 5)

print(5 < 4) 
print(5 > 5)

True
True
False
False
False

In [ ]:
a  = 10
b = 11
print(a == b - 1)
print( a - b < b - a)

True
True

In [ ]:
not(True)

False

In [ ]:
True or False

True

In [ ]:
id(p)

140465556347952

In [ ]:
Name = input("Name: ")
print("Good Morning", Name)

Name: Ashwini
Good Morning Ashwini

In [ ]:
a = int(input("a = "))
print(type(a))
b = float(input("b = "))
print(type(b))
c = a + b
print(c)

a = 34
<class 'int'>
b = 50.5
<class 'float'>
84.5

In [ ]:
a = int("90")
print(type(a))

<class 'int'>

Q1 )
Write a code to Accept P and T from user. R = 5% for 1st 2 years, then it increases to 7%. Cal SI

In [ ]:
if (3<4) and (3 != 4):
  print("It is true")
else:
  print("It is not true")

It is true

In [ ]:
a = 200
b = 140
c = 310

print(a) if(a > b and a > c) else print(b) if (b> a and b > c) else print(c)

#if(a > b):
 # print(a)
#else:
 # print(b)

310

In [ ]:
i  = 1
while(i < 100):
  print(i)
  i += 1
  if( i % 15 == 0):
    break;
  i += 1
print(" i = ", i)
print("Out of while")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
 i =  30
Out of while

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0.0
while( i < 10.0):
  print(i)
  i = i + 1.75

0.0
1.75
3.5
5.25
7.0
8.75

In [ ]:
for mynum in range(5,11,3):
  print(mynum)
  mynum = mynum + 1.5 #No impact on loop variable

5
8

Write a code to display multiplication table of a number accecpted from user in the below format:
3 X 1 = 3
3 X 2 = 6

In [ ]:
print("Good Morning", end = ' ')
print("Ashwini", end = ' ')
print("How r u?")
print('I am fine')

Good Morning Ashwini How r u?
I am fine

In [ ]:
print("Good Morning", "Ashwini","How r u?" , sep = '|', end = '\t')
print('I am fine')

Good Morning|Ashwini|How r u?	I am fine

Q) Write a code to display all numbers from 1 to 50. For the numbers divisible by 3 display "FUZZ", for the number divisible by both 3 and 7 display "BUZZ"

In [ ]:
def sum(a,b,c):
  '''this function will add three values and return the sum
  eg: if the 3 numbers are 12, 10 ,5 it will return 27'''
  c = a + b + c
  return c

In [ ]:
sum.__doc__

'this function will add three values and return the sum\n  eg: if the 3 numbers are 12, 10 ,5 it will return 27'

In [ ]:
range.__doc__

'range(stop) -> range object\nrange(start, stop[, step]) -> range object\n\nReturn an object that produces a sequence of integers from start (inclusive)\nto stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.\nstart defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.\nThese are exactly the valid indices for a list of 4 elements.\nWhen step is given, it specifies the increment (or decrement).'

In [ ]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
sum(13,14,15)

42

Modify sum function that does not have any parameters, accept any number of values from the user and return its sum. Till a specific value is entered.

In [ ]:
def sumdiff(a,b):
  "this function returns both sum and diff of two numbers"
  return a+b, a-b

In [ ]:
sum, diff = sumdiff(30,12)
print(sum,diff)

42 18

In [ ]:
sumdiff.__doc__

'this function returns both sum and diff of two numbers'

In [ ]:
def myRange( stop, start = 0, step = 1):
  i = start
  while( i < stop):
    print(i)
    i = i + step
  return

In [ ]:
myRange(11, 5, 2)

5
7
9

In [ ]:
myRange.__doc__

Introduction to String Slicing

In [ ]:
s = "0123456789"
#1
print(s[ : : ])
#2
print(s[3:7])
#3
print(s[ : : 2])
#4
print(s[ : : -1])
#5
print(s[11 : 0 : -1])
#6
print(s[ :-6 : -1])
#7
print(s[ -2 :-6 : -1])

0123456789
3456
02468
9876543210
987654321
98765
8765

In [ ]:
i = s.find('*')
print(i)

-1

In [ ]:
name = "Ashwini S Matange"
s1 = name.find(" ")
print(s1)
print(name[ : s1])
s2 = name.find(' ',s1 + 1)
print(s2)

7
Ashwini
9

In [ ]:
s = "0123456789.68769"
print(s[ -1 : -7  : -2 ])

976

In [ ]:
if "." in s:
  snum = float(s)
elif s.isdigit():
  snum = int(s)
print(type(snum), snum)
print(type(s), s)

<class 'float'> 123456789.68769
<class 'str'> 0123456789.68769

In [ ]:
s2 = "3.5"
print(s2.isdecimal())

False

In [ ]:
<str>.isdecimal.__doc__

SyntaxError: ignored

In [ ]:
a = 10.0
print(type(a))
print(id(a))
a = 20.5
print(type(a))
print(id(a))
a = 30.56
print(type(a))
print(id(a))
#all numbers type are immutable

<class 'float'>
139861681969712
<class 'float'>
139861681969616
<class 'float'>
139861682009360

In [ ]:
tu = ("Ashwini", 12345, ["CS", "IT"], "asm.comp@coep.ac.in",("Sourabh","CS"))
Li = [["India", "US", "China","Nepal"],[345634586,63546458,6456845,3654417,734825687,47575,64563,465437]]

print(type(tu[2]))
print(Li[1][1: :2])

<class 'list'>
[63546458, 3654417, 47575, 465437]

In [ ]:
print(id(tu))
print(id(Li))
tu = ("Ashwini", 12345, ["CS", "IT"], "asm.comp@coep.ac.in")
Li = ["India", "US", "China","Nepal","Srilanka"]
print(id(tu))
print(id(Li))

In [ ]:
L1 = [1, 2, 3, 4]

L2 = L1
#print(L1)
#print(L2)
L2.append(5)
#print(L1)
#print(L2)
#Shallow Copy

L3 = L1[:]

print(L3)
print(id(L3))
#Deep Copy
L1.append(6)
print(id(L3))
print(L1)
print(L2)
print(L3)

print( 6 in L3 , 5 in L1 )
L2.extend(L3)
print(L2)

[1, 2, 3, 4, 5]
139861662052416
139861662052416
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
False True
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [ ]:
L4 = L1 + L2 + L3
print(L4)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5]

In [ ]:
len("dfgjldgf djfljfdh lhfljdfh")

26

In [ ]:
name = list("Ashwini")
print(name)
print(sorted(name))
print(name)

['A', 's', 'h', 'w', 'i', 'n', 'i']
['A', 'h', 'i', 'i', 'n', 's', 'w']
['A', 's', 'h', 'w', 'i', 'n', 'i']

In [ ]:
#Q) Navigate thry the email list, print email is valid/invalid
# if valid email, print username and department
email_list = ["asm.comp@coep.ac.in", "asm.comp.coep.ac.in","ashwini.computer@coep.ac.in"]
for e in email_list:
  print(e)

asm.comp@coep.ac.in
asm.comp.coep.ac.in
ashwini.computer@coep.ac.in

In [ ]:
sentence = input("Enter a sentence:")
sentence = sentence.replace('  ',' ')
sentence = sentence.strip()
print(sentence)
count = sentence.count(' ')

print(count+1)

Enter a sentence:     djfhjkdsf jhk
djfhjkdsf jhk
2

Write a code to create a list of numbers from 1 to 10
create another list which as sqr of all the numbers in the first list

In [ ]:
def sqr(i):
  return i*i

L1 = [i for i in range(1,11) if i%3 == 0 ]

print(L1)
L2 = [sqr(i) for i in L1]

print(L2)

[3, 6, 9]
[9, 36, 81]

Example: Consider Electricity bill rates as below:
for 1st 100 units - Rs 15
for next 200 units - Rs 20
for next 300 units - Rs 35
above this - Rs 50

eg units = 150
100*15 + 50*20
units 480
100 *15 + 200*20 + 180*35
define a function to return the bill amount, parameter = units

In [ ]:
def get_bill(units):   
   charges = [(100, 15), (200, 20), (300, 35)] 
   bill = 0
   for charge in charges:
        bill_for_the_slot = charge[1] * min(charge[0], units)
        bill += bill_for_the_slot
        units -= charge[0]
        if units <= 0:
          break
   if units > 0:
       bill += units * 50
   return bill
    
print(get_bill(1750))

73500

In [ ]:

def calc_bill(units):
  amt = 0
  if(units <= 100):
    amt = units * 15
  elif(units <= 300):
    amt = 15 * 100 + (units - 100) * 20
  elif(units <= 600):
    amt = 15 * 100 + 20 * 200 + 35 * (units - 300)
  else:
    amt = 15 * 100 + 20 * 200 + 35 * 300 + (units - 600)*50
  return amt

print(calc_bill(1750))

73500

create a list of units for 6 months of 2022
list comprehension create a new list of corresponding bill amounts
display the month when the bill was highest[link text](https://)

In [ ]:
JanJune = [230,130,233,127,140,320]
billJanJune = [calc_bill(u) for u in JanJune]
print(JanJune,billJanJune)
month_i = max(billJanJune)
print(month_i)
month = billJanJune.index(month_i) + 1
print(month)
print(months[month])

[230, 130, 233, 127, 140, 320] [4100, 2100, 4160, 2040, 2300, 6200]
6200
6
June

Create a list that contains all nos divisible by 7 or 5 from range 1 to 100

In [ ]:
L7_5 = [i*i for i in range(1,101) if i%17 == 0]
print(L7_5)

[289, 1156, 2601, 4624, 7225]

In [ ]:
car = {
    "brand": "Ford",
    "electric": False,
    "year": 1964,
    "colors": ["red", "white", "blue"]
}
print(car)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
car["year"]

1964

In [ ]:
car["colors"]

['red', 'white', 'blue']

In [ ]:

car["colors"][2]

'blue'

In [ ]:
sqr = { 0:0, 
       1:1,
       2:4,
       3:9,
       4:16,
       5:25}
print(sqr)
srqit = {k: k*k for k in range(0,6)}
print(srqit)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
sqr[4]

20

Create a dictionary of month no and name
1 : "Jan"

In [ ]:
months = { 1: "Jan",
          2: "Feb",
          3: "Mar",
          4: "April",
          5:"May",
          6:"June"}
months[3]
months[1] = "January"
print(months)

{1: 'January', 2: 'Feb', 3: 'Mar', 4: 'April', 5: 'May', 6: 'June'}

In [ ]:
def get_bill(units):   
   charges = [(100, 15), (200, 20), (300, 35)] 
   bill = 0
   for charge in charges:
        bill_for_the_slot = charge[1] * min(charge[0], units)
        bill += bill_for_the_slot
        units -= charge[0]
        if units <= 0:
          break
   if units > 0:
       bill += units * 50
   return bill
    
print(get_bill(1750))
d = {}
l = []

In [ ]:
slab = [100, 200, 300]
rate = [15, 20, 35]

ref = {x:y for x in slab for y in rate}
ref_tup = [(slab[i],rate[i]) for i in range(3)]
print(ref)
print(ref_tup)

{100: 35, 200: 35, 300: 35}
[(100, 15), (200, 20), (300, 35)]

In [ ]:
set1 = {1,2,3,4}
print(type(set1))

<class 'set'>

In [ ]:
set1[2]

TypeError: ignored

In [ ]:
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1.remove(4)
print(set1)

{1, 2, 3, 5}

In [ ]:
set1.add("xy")
print(set1)

{1, 2, 3, 5, 'xy'}

In [ ]:
l1 = [1,2,3,4,5,2,3,6,7,4,7,8,8]
s1 = set(l1)
print(l1)
print(s1)

[1, 2, 3, 4, 5, 2, 3, 6, 7, 4, 7, 8, 8]
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
seawhale = '''Whales are a widely distributed and diverse group of fully aquatic placental marine mammals. As an informal and colloquial grouping, they correspond to large members of the infraorder Cetacea, i.e. all cetaceans apart from dolphins and porpoises. Dolphins and porpoises may be considered whales from a formal, cladistic perspective. Whales, dolphins and porpoises belong to the order Cetartiodactyla, which consists of even-toed ungulates. Their closest non-cetacean living relatives are the hippopotamuses, from which they and other cetaceans diverged about 54 million years ago. The two parvorders of whales, baleen whales (Mysticeti) and toothed whales (Odontoceti), are thought to have had their last common ancestor around 34 million years ago. Mysticetes include four extant (living) families: Balaenopteridae (the rorquals), Balaenidae (right whales), Cetotheriidae (the pygmy right whale), and Eschrichtiidae (the grey whale). Odontocetes include the Monodontidae (belugas and narwhals), Physeteridae (the sperm whale), Kogiidae (the dwarf and pygmy sperm whale), and Ziphiidae (the beaked whales), as well as the six families of dolphins and porpoises which are not considered whales in the informal sense.

Whales are fully aquatic, open-ocean creatures: they can feed, mate, give birth, suckle and raise their young at sea. In opposite to most animals, they can drink salt water, although they prefer water coming from their food.[2] Whales range in size from the 2.6 metres (8.5 ft) and 135 kilograms (298 lb) dwarf sperm whale to the 29.9 metres (98 ft) and 190 tonnes (210 short tons) blue whale, which is the largest known animal that has ever lived. The sperm whale is the largest toothed predator on Earth. Several whale species exhibit sexual dimorphism, in that the females are larger than males.

Baleen whales have no teeth; instead they have plates of baleen, fringe-like structures that enable them to expel the huge mouthfuls of water they take in, while retaining the krill and plankton they feed on. Because their heads are enormous—making up as much as 40% of their total body mass—and they have throat pleats that enable them to expand their mouths, they are able to take huge quantities of water into their mouth at a time. Baleen whales also have a well developed sense of smell.

Toothed whales, in contrast, have conical teeth adapted to catching fish or squid. They also have such keen hearing—whether above or below the surface of the water—that some can survive even if they are blind. Some species, such as sperm whales, are particularly well adapted for diving to great depths to catch squid and other favoured prey.

Whales evolved from land-living mammals, and must regularly surface to breathe air, although they can remain under water for long periods of time. Some species, such as the sperm whale, can stay underwater for up to 90 minutes [3] They have blowholes (modified nostrils) located on top of their heads, through which air is taken in and expelled. They are warm-blooded, and have a layer of fat, or blubber, under the skin. With streamlined fusiform bodies and two limbs that are modified into flippers, whales can travel at speeds of up to 20 knots, though they are not as flexible or agile as seals. Whales produce a great variety of vocalizations, notably the extended songs of the humpback whale. Although whales are widespread, most species prefer the colder waters of the northern and southern hemispheres, and migrate to the equator to give birth. Species such as humpbacks and blue whales are capable of travelling thousands of miles without feeding. Males typically mate with multiple females every year, but females only mate every two to three years. Calves are typically born in the spring and summer; females bear all the responsibility for raising them. Mothers in some species fast and nurse their young for one to two years.

Once relentlessly hunted for their products, whales are now protected by international law. The North Atlantic right whales nearly became extinct in the twentieth century, with a population low of 450, and the North Pacific grey whale population is ranked Critically Endangered by the IUCN. Besides the threat from whalers, they also face threats from bycatch and marine pollution. The meat, blubber and baleen of whales have traditionally been used by indigenous peoples of the Arctic. Whales have been depicted in various cultures worldwide, notably by the Inuit and the coastal peoples of Vietnam and Ghana, who sometimes hold whale funerals. Whales occasionally feature in literature and film. A famous example is the great white whale in Herman Melville's novel Moby Dick. Small whales, such as belugas, are sometimes kept in captivity and trained to perform tricks, but breeding success has been poor and the animals often die within a few months of capture. Whale watching has become a form of tourism around the world.'''

In [ ]:
s = seawhale.split(' ')
print(s)

['Whales', 'are', 'a', 'widely', 'distributed', 'and', 'diverse', 'group', 'of', 'fully', 'aquatic', 'placental', 'marine', 'mammals.', 'As', 'an', 'informal', 'and', 'colloquial', 'grouping,', 'they', 'correspond', 'to', 'large', 'members', 'of', 'the', 'infraorder', 'Cetacea,', 'i.e.', 'all', 'cetaceans', 'apart', 'from', 'dolphins', 'and', 'porpoises.', 'Dolphins', 'and', 'porpoises', 'may', 'be', 'considered', 'whales', 'from', 'a', 'formal,', 'cladistic', 'perspective.', 'Whales,', 'dolphins', 'and', 'porpoises', 'belong', 'to', 'the', 'order', 'Cetartiodactyla,', 'which', 'consists', 'of', 'even-toed', 'ungulates.', 'Their', 'closest', 'non-cetacean', 'living', 'relatives', 'are', 'the', 'hippopotamuses,', 'from', 'which', 'they', 'and', 'other', 'cetaceans', 'diverged', 'about', '54', 'million', 'years', 'ago.', 'The', 'two', 'parvorders', 'of', 'whales,', 'baleen', 'whales', '(Mysticeti)', 'and', 'toothed', 'whales', '(Odontoceti),', 'are', 'thought', 'to', 'have', 'had', 'their', 'last', 'common', 'ancestor', 'around', '34', 'million', 'years', 'ago.', 'Mysticetes', 'include', 'four', 'extant', '(living)', 'families:', 'Balaenopteridae', '(the', 'rorquals),', 'Balaenidae', '(right', 'whales),', 'Cetotheriidae', '(the', 'pygmy', 'right', 'whale),', 'and', 'Eschrichtiidae', '(the', 'grey', 'whale).', 'Odontocetes', 'include', 'the', 'Monodontidae', '(belugas', 'and', 'narwhals),', 'Physeteridae', '(the', 'sperm', 'whale),', 'Kogiidae', '(the', 'dwarf', 'and', 'pygmy', 'sperm', 'whale),', 'and', 'Ziphiidae', '(the', 'beaked', 'whales),', 'as', 'well', 'as', 'the', 'six', 'families', 'of', 'dolphins', 'and', 'porpoises', 'which', 'are', 'not', 'considered', 'whales', 'in', 'the', 'informal', 'sense.\n\nWhales', 'are', 'fully', 'aquatic,', 'open-ocean', 'creatures:', 'they', 'can', 'feed,', 'mate,', 'give', 'birth,', 'suckle', 'and', 'raise', 'their', 'young', 'at', 'sea.', 'In', 'opposite', 'to', 'most', 'animals,', 'they', 'can', 'drink', 'salt', 'water,', 'although', 'they', 'prefer', 'water', 'coming', 'from', 'their', 'food.[2]', 'Whales', 'range', 'in', 'size', 'from', 'the', '2.6', 'metres', '(8.5', 'ft)', 'and', '135', 'kilograms', '(298', 'lb)', 'dwarf', 'sperm', 'whale', 'to', 'the', '29.9', 'metres', '(98', 'ft)', 'and', '190', 'tonnes', '(210', 'short', 'tons)', 'blue', 'whale,', 'which', 'is', 'the', 'largest', 'known', 'animal', 'that', 'has', 'ever', 'lived.', 'The', 'sperm', 'whale', 'is', 'the', 'largest', 'toothed', 'predator', 'on', 'Earth.', 'Several', 'whale', 'species', 'exhibit', 'sexual', 'dimorphism,', 'in', 'that', 'the', 'females', 'are', 'larger', 'than', 'males.\n\nBaleen', 'whales', 'have', 'no', 'teeth;', 'instead', 'they', 'have', 'plates', 'of', 'baleen,', 'fringe-like', 'structures', 'that', 'enable', 'them', 'to', 'expel', 'the', 'huge', 'mouthfuls', 'of', 'water', 'they', 'take', 'in,', 'while', 'retaining', 'the', 'krill', 'and', 'plankton', 'they', 'feed', 'on.', 'Because', 'their', 'heads', 'are', 'enormous—making', 'up', 'as', 'much', 'as', '40%', 'of', 'their', 'total', 'body', 'mass—and', 'they', 'have', 'throat', 'pleats', 'that', 'enable', 'them', 'to', 'expand', 'their', 'mouths,', 'they', 'are', 'able', 'to', 'take', 'huge', 'quantities', 'of', 'water', 'into', 'their', 'mouth', 'at', 'a', 'time.', 'Baleen', 'whales', 'also', 'have', 'a', 'well', 'developed', 'sense', 'of', 'smell.\n\nToothed', 'whales,', 'in', 'contrast,', 'have', 'conical', 'teeth', 'adapted', 'to', 'catching', 'fish', 'or', 'squid.', 'They', 'also', 'have', 'such', 'keen', 'hearing—whether', 'above', 'or', 'below', 'the', 'surface', 'of', 'the', 'water—that', 'some', 'can', 'survive', 'even', 'if', 'they', 'are', 'blind.', 'Some', 'species,', 'such', 'as', 'sperm', 'whales,', 'are', 'particularly', 'well', 'adapted', 'for', 'diving', 'to', 'great', 'depths', 'to', 'catch', 'squid', 'and', 'other', 'favoured', 'prey.\n\nWhales', 'evolved', 'from', 'land-living', 'mammals,', 'and', 'must', 'regularly', 'surface', 'to', 'breathe', 'air,', 'although', 'they', 'can', 'remain', 'under', 'water', 'for', 'long', 'periods', 'of', 'time.', 'Some', 'species,', 'such', 'as', 'the', 'sperm', 'whale,', 'can', 'stay', 'underwater', 'for', 'up', 'to', '90', 'minutes', '[3]', 'They', 'have', 'blowholes', '(modified', 'nostrils)', 'located', 'on', 'top', 'of', 'their', 'heads,', 'through', 'which', 'air', 'is', 'taken', 'in', 'and', 'expelled.', 'They', 'are', 'warm-blooded,', 'and', 'have', 'a', 'layer', 'of', 'fat,', 'or', 'blubber,', 'under', 'the', 'skin.', 'With', 'streamlined', 'fusiform', 'bodies', 'and', 'two', 'limbs', 'that', 'are', 'modified', 'into', 'flippers,', 'whales', 'can', 'travel', 'at', 'speeds', 'of', 'up', 'to', '20', 'knots,', 'though', 'they', 'are', 'not', 'as', 'flexible', 'or', 'agile', 'as', 'seals.', 'Whales', 'produce', 'a', 'great', 'variety', 'of', 'vocalizations,', 'notably', 'the', 'extended', 'songs', 'of', 'the', 'humpback', 'whale.', 'Although', 'whales', 'are', 'widespread,', 'most', 'species', 'prefer', 'the', 'colder', 'waters', 'of', 'the', 'northern', 'and', 'southern', 'hemispheres,', 'and', 'migrate', 'to', 'the', 'equator', 'to', 'give', 'birth.', 'Species', 'such', 'as', 'humpbacks', 'and', 'blue', 'whales', 'are', 'capable', 'of', 'travelling', 'thousands', 'of', 'miles', 'without', 'feeding.', 'Males', 'typically', 'mate', 'with', 'multiple', 'females', 'every', 'year,', 'but', 'females', 'only', 'mate', 'every', 'two', 'to', 'three', 'years.', 'Calves', 'are', 'typically', 'born', 'in', 'the', 'spring', 'and', 'summer;', 'females', 'bear', 'all', 'the', 'responsibility', 'for', 'raising', 'them.', 'Mothers', 'in', 'some', 'species', 'fast', 'and', 'nurse', 'their', 'young', 'for', 'one', 'to', 'two', 'years.\n\nOnce', 'relentlessly', 'hunted', 'for', 'their', 'products,', 'whales', 'are', 'now', 'protected', 'by', 'international', 'law.', 'The', 'North', 'Atlantic', 'right', 'whales', 'nearly', 'became', 'extinct', 'in', 'the', 'twentieth', 'century,', 'with', 'a', 'population', 'low', 'of', '450,', 'and', 'the', 'North', 'Pacific', 'grey', 'whale', 'population', 'is', 'ranked', 'Critically', 'Endangered', 'by', 'the', 'IUCN.', 'Besides', 'the', 'threat', 'from', 'whalers,', 'they', 'also', 'face', 'threats', 'from', 'bycatch', 'and', 'marine', 'pollution.', 'The', 'meat,', 'blubber', 'and', 'baleen', 'of', 'whales', 'have', 'traditionally', 'been', 'used', 'by', 'indigenous', 'peoples', 'of', 'the', 'Arctic.', 'Whales', 'have', 'been', 'depicted', 'in', 'various', 'cultures', 'worldwide,', 'notably', 'by', 'the', 'Inuit', 'and', 'the', 'coastal', 'peoples', 'of', 'Vietnam', 'and', 'Ghana,', 'who', 'sometimes', 'hold', 'whale', 'funerals.', 'Whales', 'occasionally', 'feature', 'in', 'literature', 'and', 'film.', 'A', 'famous', 'example', 'is', 'the', 'great', 'white', 'whale', 'in', 'Herman', "Melville's", 'novel', 'Moby', 'Dick.', 'Small', 'whales,', 'such', 'as', 'belugas,', 'are', 'sometimes', 'kept', 'in', 'captivity', 'and', 'trained', 'to', 'perform', 'tricks,', 'but', 'breeding', 'success', 'has', 'been', 'poor', 'and', 'the', 'animals', 'often', 'die', 'within', 'a', 'few', 'months', 'of', 'capture.', 'Whale', 'watching', 'has', 'become', 'a', 'form', 'of', 'tourism', 'around', 'the', 'world.']

In [ ]:
s2 = [i.replace(',','') for i in s]
print(s2)
set2 = set(s2)
print(set2)

stopword2 = {'and','the', 'as', 'well', 'of','not','in','may','know'}
newset = set2 - stopword2
print(newset)

['Whales', 'are', 'a', 'widely', 'distributed', 'and', 'diverse', 'group', 'of', 'fully', 'aquatic', 'placental', 'marine', 'mammals.', 'As', 'an', 'informal', 'and', 'colloquial', 'grouping', 'they', 'correspond', 'to', 'large', 'members', 'of', 'the', 'infraorder', 'Cetacea', 'i.e.', 'all', 'cetaceans', 'apart', 'from', 'dolphins', 'and', 'porpoises.', 'Dolphins', 'and', 'porpoises', 'may', 'be', 'considered', 'whales', 'from', 'a', 'formal', 'cladistic', 'perspective.', 'Whales', 'dolphins', 'and', 'porpoises', 'belong', 'to', 'the', 'order', 'Cetartiodactyla', 'which', 'consists', 'of', 'even-toed', 'ungulates.', 'Their', 'closest', 'non-cetacean', 'living', 'relatives', 'are', 'the', 'hippopotamuses', 'from', 'which', 'they', 'and', 'other', 'cetaceans', 'diverged', 'about', '54', 'million', 'years', 'ago.', 'The', 'two', 'parvorders', 'of', 'whales', 'baleen', 'whales', '(Mysticeti)', 'and', 'toothed', 'whales', '(Odontoceti)', 'are', 'thought', 'to', 'have', 'had', 'their', 'last', 'common', 'ancestor', 'around', '34', 'million', 'years', 'ago.', 'Mysticetes', 'include', 'four', 'extant', '(living)', 'families:', 'Balaenopteridae', '(the', 'rorquals)', 'Balaenidae', '(right', 'whales)', 'Cetotheriidae', '(the', 'pygmy', 'right', 'whale)', 'and', 'Eschrichtiidae', '(the', 'grey', 'whale).', 'Odontocetes', 'include', 'the', 'Monodontidae', '(belugas', 'and', 'narwhals)', 'Physeteridae', '(the', 'sperm', 'whale)', 'Kogiidae', '(the', 'dwarf', 'and', 'pygmy', 'sperm', 'whale)', 'and', 'Ziphiidae', '(the', 'beaked', 'whales)', 'as', 'well', 'as', 'the', 'six', 'families', 'of', 'dolphins', 'and', 'porpoises', 'which', 'are', 'not', 'considered', 'whales', 'in', 'the', 'informal', 'sense.\n\nWhales', 'are', 'fully', 'aquatic', 'open-ocean', 'creatures:', 'they', 'can', 'feed', 'mate', 'give', 'birth', 'suckle', 'and', 'raise', 'their', 'young', 'at', 'sea.', 'In', 'opposite', 'to', 'most', 'animals', 'they', 'can', 'drink', 'salt', 'water', 'although', 'they', 'prefer', 'water', 'coming', 'from', 'their', 'food.[2]', 'Whales', 'range', 'in', 'size', 'from', 'the', '2.6', 'metres', '(8.5', 'ft)', 'and', '135', 'kilograms', '(298', 'lb)', 'dwarf', 'sperm', 'whale', 'to', 'the', '29.9', 'metres', '(98', 'ft)', 'and', '190', 'tonnes', '(210', 'short', 'tons)', 'blue', 'whale', 'which', 'is', 'the', 'largest', 'known', 'animal', 'that', 'has', 'ever', 'lived.', 'The', 'sperm', 'whale', 'is', 'the', 'largest', 'toothed', 'predator', 'on', 'Earth.', 'Several', 'whale', 'species', 'exhibit', 'sexual', 'dimorphism', 'in', 'that', 'the', 'females', 'are', 'larger', 'than', 'males.\n\nBaleen', 'whales', 'have', 'no', 'teeth;', 'instead', 'they', 'have', 'plates', 'of', 'baleen', 'fringe-like', 'structures', 'that', 'enable', 'them', 'to', 'expel', 'the', 'huge', 'mouthfuls', 'of', 'water', 'they', 'take', 'in', 'while', 'retaining', 'the', 'krill', 'and', 'plankton', 'they', 'feed', 'on.', 'Because', 'their', 'heads', 'are', 'enormous—making', 'up', 'as', 'much', 'as', '40%', 'of', 'their', 'total', 'body', 'mass—and', 'they', 'have', 'throat', 'pleats', 'that', 'enable', 'them', 'to', 'expand', 'their', 'mouths', 'they', 'are', 'able', 'to', 'take', 'huge', 'quantities', 'of', 'water', 'into', 'their', 'mouth', 'at', 'a', 'time.', 'Baleen', 'whales', 'also', 'have', 'a', 'well', 'developed', 'sense', 'of', 'smell.\n\nToothed', 'whales', 'in', 'contrast', 'have', 'conical', 'teeth', 'adapted', 'to', 'catching', 'fish', 'or', 'squid.', 'They', 'also', 'have', 'such', 'keen', 'hearing—whether', 'above', 'or', 'below', 'the', 'surface', 'of', 'the', 'water—that', 'some', 'can', 'survive', 'even', 'if', 'they', 'are', 'blind.', 'Some', 'species', 'such', 'as', 'sperm', 'whales', 'are', 'particularly', 'well', 'adapted', 'for', 'diving', 'to', 'great', 'depths', 'to', 'catch', 'squid', 'and', 'other', 'favoured', 'prey.\n\nWhales', 'evolved', 'from', 'land-living', 'mammals', 'and', 'must', 'regularly', 'surface', 'to', 'breathe', 'air', 'although', 'they', 'can', 'remain', 'under', 'water', 'for', 'long', 'periods', 'of', 'time.', 'Some', 'species', 'such', 'as', 'the', 'sperm', 'whale', 'can', 'stay', 'underwater', 'for', 'up', 'to', '90', 'minutes', '[3]', 'They', 'have', 'blowholes', '(modified', 'nostrils)', 'located', 'on', 'top', 'of', 'their', 'heads', 'through', 'which', 'air', 'is', 'taken', 'in', 'and', 'expelled.', 'They', 'are', 'warm-blooded', 'and', 'have', 'a', 'layer', 'of', 'fat', 'or', 'blubber', 'under', 'the', 'skin.', 'With', 'streamlined', 'fusiform', 'bodies', 'and', 'two', 'limbs', 'that', 'are', 'modified', 'into', 'flippers', 'whales', 'can', 'travel', 'at', 'speeds', 'of', 'up', 'to', '20', 'knots', 'though', 'they', 'are', 'not', 'as', 'flexible', 'or', 'agile', 'as', 'seals.', 'Whales', 'produce', 'a', 'great', 'variety', 'of', 'vocalizations', 'notably', 'the', 'extended', 'songs', 'of', 'the', 'humpback', 'whale.', 'Although', 'whales', 'are', 'widespread', 'most', 'species', 'prefer', 'the', 'colder', 'waters', 'of', 'the', 'northern', 'and', 'southern', 'hemispheres', 'and', 'migrate', 'to', 'the', 'equator', 'to', 'give', 'birth.', 'Species', 'such', 'as', 'humpbacks', 'and', 'blue', 'whales', 'are', 'capable', 'of', 'travelling', 'thousands', 'of', 'miles', 'without', 'feeding.', 'Males', 'typically', 'mate', 'with', 'multiple', 'females', 'every', 'year', 'but', 'females', 'only', 'mate', 'every', 'two', 'to', 'three', 'years.', 'Calves', 'are', 'typically', 'born', 'in', 'the', 'spring', 'and', 'summer;', 'females', 'bear', 'all', 'the', 'responsibility', 'for', 'raising', 'them.', 'Mothers', 'in', 'some', 'species', 'fast', 'and', 'nurse', 'their', 'young', 'for', 'one', 'to', 'two', 'years.\n\nOnce', 'relentlessly', 'hunted', 'for', 'their', 'products', 'whales', 'are', 'now', 'protected', 'by', 'international', 'law.', 'The', 'North', 'Atlantic', 'right', 'whales', 'nearly', 'became', 'extinct', 'in', 'the', 'twentieth', 'century', 'with', 'a', 'population', 'low', 'of', '450', 'and', 'the', 'North', 'Pacific', 'grey', 'whale', 'population', 'is', 'ranked', 'Critically', 'Endangered', 'by', 'the', 'IUCN.', 'Besides', 'the', 'threat', 'from', 'whalers', 'they', 'also', 'face', 'threats', 'from', 'bycatch', 'and', 'marine', 'pollution.', 'The', 'meat', 'blubber', 'and', 'baleen', 'of', 'whales', 'have', 'traditionally', 'been', 'used', 'by', 'indigenous', 'peoples', 'of', 'the', 'Arctic.', 'Whales', 'have', 'been', 'depicted', 'in', 'various', 'cultures', 'worldwide', 'notably', 'by', 'the', 'Inuit', 'and', 'the', 'coastal', 'peoples', 'of', 'Vietnam', 'and', 'Ghana', 'who', 'sometimes', 'hold', 'whale', 'funerals.', 'Whales', 'occasionally', 'feature', 'in', 'literature', 'and', 'film.', 'A', 'famous', 'example', 'is', 'the', 'great', 'white', 'whale', 'in', 'Herman', "Melville's", 'novel', 'Moby', 'Dick.', 'Small', 'whales', 'such', 'as', 'belugas', 'are', 'sometimes', 'kept', 'in', 'captivity', 'and', 'trained', 'to', 'perform', 'tricks', 'but', 'breeding', 'success', 'has', 'been', 'poor', 'and', 'the', 'animals', 'often', 'die', 'within', 'a', 'few', 'months', 'of', 'capture.', 'Whale', 'watching', 'has', 'become', 'a', 'form', 'of', 'tourism', 'around', 'the', 'world.']
{'than', 'narwhals)', 'responsibility', 'Mysticetes', 'Endangered', 'speeds', 'produce', 'Eschrichtiidae', 'fast', 'Besides', 'raising', 'order', 'breeding', 'Whales', 'Balaenopteridae', 'females', 'Atlantic', 'pygmy', 'tonnes', 'in', 'that', 'even-toed', 'blue', 'prey.\n\nWhales', 'conical', 'modified', 'whales', 'for', 'colder', 'tourism', 'vocalizations', 'Because', 'fusiform', '(living)', 'They', 'all', 'example', 'tons)', 'became', 'travelling', 'Balaenidae', 'depicted', 'year', 'coastal', 'extant', 'favoured', 'birth.', 'relatives', 'Monodontidae', 'able', 'Baleen', 'their', 'Cetartiodactyla', 'breathe', 'meat', 'formal', '34', 'variety', 'non-cetacean', 'cultures', 'various', 'ever', 'notably', '54', 'total', 'mammals', 'now', 'beaked', 'time.', '(Mysticeti)', 'indigenous', 'Although', 'young', '2.6', 'common', 'pollution.', 'surface', 'Their', 'nearly', 'captivity', 'Small', 'animal', 'In', 'also', 'mammals.', 'infraorder', 'members', 'ancestor', 'an', 'larger', 'kilograms', 'underwater', 'from', 'population', 'plates', 'porpoises', 'raise', 'fat', 'film.', 'instead', 'include', 'last', 'southern', 'into', 'traditionally', 'diverse', 'as', 'toothed', 'remain', 'four', 'widely', 'A', 'widespread', 'Odontocetes', 'belugas', 'Earth.', 'capture.', 'thousands', 'million', 'Ziphiidae', 'group', 'songs', 'though', 'tricks', 'twentieth', 'cetaceans', 'waters', 'baleen', 'thought', 'summer;', 'by', 'birth', 'IUCN.', 'regularly', 'which', 'on.', 'open-ocean', 'top', 'whale).', '(right', 'watching', 'travel', 'enormous—making', 'creatures:', 'largest', 'years.\n\nOnce', 'only', '135', 'water—that', 'two', 'form', 'long', 'squid', 'Pacific', 'few', 'skin.', 'dwarf', 'at', 'mouths', 'of', 'Vietnam', 'range', 'about', 'ungulates.', 'bycatch', '(298', 'catch', 'flippers', 'nurse', 'extinct', 'poor', '190', 'can', 'mass—and', 'lived.', 'whalers', 'often', 'great', 'huge', 'warm-blooded', 'blubber', 'depths', 'sense.\n\nWhales', '40%', 'low', 'feeding.', 'families:', 'dolphins', 'novel', 'one', 'right', 'kept', 'on', 'typically', 'Cetacea', 'such', 'parvorders', 'The', 'drink', 'is', 'closest', 'Herman', 'rorquals)', 'most', 'protected', 'Kogiidae', 'hold', 'squid.', 'no', 'three', 'limbs', 'occasionally', 'krill', 'humpbacks', 'known', 'blind.', 'around', 'teeth', 'born', 'miles', 'humpback', 'a', 'exhibit', '[3]', 'Species', 'land-living', 'Dick.', 'mouth', 'under', 'flexible', 'up', 'capable', 'correspond', 'diverged', 'below', 'Whale', 'six', 'feed', 'spring', 'fully', 'Calves', 'sea.', 'sperm', 'Moby', 'every', 'sense', 'equator', 'minutes', '(the', 'with', 'developed', 'apart', 'even', 'through', 'considered', 'size', 'success', 'whale', 'some', 'Cetotheriidae', '20', 'migrate', 'enable', 'Males', 'cladistic', 'opposite', 'lb)', 'teeth;', 'face', 'sometimes', 'or', 'international', 'consists', 'be', '(Odontoceti)', 'porpoises.', 'world.', 'water', '(modified', 'used', 'grey', 'much', 'coming', 'become', 'dimorphism', 'fish', 'Inuit', 'adapted', 'law.', 'quantities', 'ago.', 'grouping', 'well', 'the', 'whale.', 'above', 'although', 'without', 'living', 'other', 'Several', 'heads', 'blowholes', '(210', 'has', 'hearing—whether', 'periods', 'survive', 'must', 'agile', 'catching', 'Critically', 'ft)', 'take', 'smell.\n\nToothed', 'suckle', 'mate', 'hunted', 'expelled.', 'colloquial', 'salt', '(98', 'hemispheres', 'perspective.', 'With', 'sexual', 'body', 'to', 'trained', 'years', 'them.', 'them', 'ranked', 'belong', 'animals', 'males.\n\nBaleen', 'mouthfuls', 'not', 'i.e.', 'bodies', 'famous', 'streamlined', 'nostrils)', 'relentlessly', 'structures', 'Arctic.', 'Mothers', 'bear', 'placental', 'multiple', 'predator', 'funerals.', 'northern', 'throat', 'short', 'peoples', 'products', 'had', 'they', 'Ghana', 'hippopotamuses', 'diving', 'perform', 'layer', 'expel', 'die', '90', 'whales)', 'stay', 'contrast', 'have', 'pleats', 'air', 'aquatic', 'but', 'who', 'families', 'marine', '(belugas', 'fringe-like', 'century', 'are', 'plankton', 'species', 'may', 'threats', 'been', 'evolved', 'informal', '450', '(8.5', 'located', 'food.[2]', 'white', "Melville's", 'seals.', '29.9', 'worldwide', 'particularly', 'threat', 'prefer', 'retaining', 'extended', 'months', 'knots', 'while', 'feature', 'metres', 'expand', 'Dolphins', 'if', 'within', 'North', 'Some', 'give', 'whale)', 'Physeteridae', 'large', 'distributed', 'years.', 'literature', 'taken', 'keen', 'As', 'and'}
{'than', 'narwhals)', 'responsibility', 'Mysticetes', '[3]', 'Species', 'Endangered', 'land-living', 'Dick.', 'mouth', 'under', 'flexible', 'speeds', 'up', 'capable', 'produce', 'Eschrichtiidae', 'fast', 'Besides', 'raising', 'order', 'correspond', 'diverged', 'below', 'breeding', 'Whale', 'six', 'Whales', 'Balaenopteridae', 'females', 'Atlantic', 'feed', 'spring', 'pygmy', 'a', 'tonnes', 'fully', 'that', 'Calves', 'sea.', 'even-toed', 'sperm', 'Moby', 'every', 'blue', 'prey.\n\nWhales', 'sense', 'conical', 'modified', 'equator', 'minutes', '(the', 'whales', 'for', 'with', 'developed', 'apart', 'colder', 'tourism', 'vocalizations', 'Because', 'even', 'through', 'fusiform', '(living)', 'considered', 'size', 'They', 'all', 'example', 'tons)', 'success', 'whale', 'some', 'became', 'travelling', 'Balaenidae', 'Cetotheriidae', '20', 'depicted', 'migrate', 'enable', 'year', 'Males', 'coastal', 'cladistic', 'extant', 'opposite', 'favoured', 'birth.', 'relatives', 'Monodontidae', 'able', 'Baleen', 'lb)', 'teeth;', 'their', 'Cetartiodactyla', 'face', 'breathe', 'meat', 'sometimes', 'or', 'international', 'formal', '34', 'consists', 'be', 'variety', '(Odontoceti)', 'porpoises.', 'world.', 'water', '(modified', 'used', 'non-cetacean', 'cultures', 'various', 'ever', 'grey', 'notably', '54', 'total', 'mammals', 'now', 'much', 'beaked', 'coming', 'become', 'time.', '(Mysticeti)', 'indigenous', 'Although', 'dimorphism', 'fish', 'Inuit', 'adapted', 'law.', 'quantities', 'ago.', 'grouping', 'young', '2.6', 'common', 'pollution.', 'whale.', 'surface', 'Their', 'nearly', 'captivity', 'Small', 'above', 'animal', 'although', 'without', 'In', 'also', 'mammals.', 'infraorder', 'living', 'members', 'other', 'Several', 'heads', 'ancestor', 'blowholes', '(210', 'has', 'an', 'hearing—whether', 'larger', 'periods', 'survive', 'kilograms', 'must', 'underwater', 'agile', 'catching', 'from', 'population', 'plates', 'Critically', 'ft)', 'take', 'porpoises', 'smell.\n\nToothed', 'raise', 'fat', 'film.', 'instead', 'suckle', 'include', 'last', 'mate', 'southern', 'hunted', 'into', 'expelled.', 'colloquial', 'salt', '(98', 'traditionally', 'diverse', 'hemispheres', 'perspective.', 'With', 'sexual', 'toothed', 'body', 'remain', 'to', 'four', 'widely', 'trained', 'A', 'years', 'them.', 'them', 'ranked', 'widespread', 'Odontocetes', 'belong', 'belugas', 'Earth.', 'animals', 'capture.', 'males.\n\nBaleen', 'mouthfuls', 'thousands', 'million', 'Ziphiidae', 'group', 'i.e.', 'bodies', 'famous', 'streamlined', 'nostrils)', 'relentlessly', 'songs', 'though', 'tricks', 'twentieth', 'cetaceans', 'structures', 'waters', 'Arctic.', 'Mothers', 'baleen', 'thought', 'summer;', 'bear', 'by', 'birth', 'IUCN.', 'placental', 'regularly', 'multiple', 'which', 'on.', 'predator', 'funerals.', 'open-ocean', 'top', 'northern', 'whale).', '(right', 'watching', 'travel', 'throat', 'enormous—making', 'creatures:', 'largest', 'years.\n\nOnce', 'short', 'peoples', 'products', 'had', 'only', '135', 'they', 'water—that', 'Ghana', 'hippopotamuses', 'two', 'diving', 'perform', 'layer', 'form', 'long', 'expel', 'die', 'squid', 'Pacific', 'few', 'skin.', '90', 'whales)', 'dwarf', 'stay', 'at', 'contrast', 'mouths', 'have', 'Vietnam', 'range', 'pleats', 'about', 'ungulates.', 'air', 'aquatic', 'but', 'bycatch', '(298', 'catch', 'flippers', 'nurse', 'extinct', 'who', 'families', 'poor', 'marine', '(belugas', 'fringe-like', '190', 'century', 'are', 'plankton', 'can', 'mass—and', 'lived.', 'whalers', 'species', 'often', 'great', 'huge', 'warm-blooded', 'blubber', 'depths', 'sense.\n\nWhales', '40%', 'threats', 'been', 'evolved', 'low', 'feeding.', 'informal', '450', 'families:', '(8.5', 'dolphins', 'novel', 'located', 'food.[2]', 'one', 'right', 'kept', 'white', 'on', "Melville's", 'seals.', 'typically', '29.9', 'worldwide', 'Cetacea', 'particularly', 'such', 'threat', 'parvorders', 'prefer', 'retaining', 'The', 'extended', 'months', 'knots', 'while', 'feature', 'drink', 'metres', 'is', 'expand', 'Dolphins', 'closest', 'Herman', 'rorquals)', 'if', 'most', 'protected', 'Kogiidae', 'hold', 'squid.', 'within', 'North', 'no', 'Some', 'give', 'whale)', 'Physeteridae', 'three', 'limbs', 'occasionally', 'large', 'krill', 'distributed', 'humpbacks', 'known', 'blind.', 'years.', 'literature', 'around', 'teeth', 'born', 'taken', 'miles', 'keen', 'As', 'humpback', 'exhibit'}

Ex: From your company home page copy "about" into a string: key words of company

FUNCTIONS CAN HAVE DEFAULT ARGUMENTS CAN BECALLED BY ARGUMNET NAMES TOO

In [ ]:
def diff(x,y = 0,z = 0):
  return x - (z+y)


print(diff(20))
print(diff(20,10))
print(diff(20,10,5))
print(diff(z = 2, y = 10, x = 20))

20
10
5
8

In [ ]:
a = 10
b = 20
c = 30
d = 40
print(a)
print(a,b)
print(a,b,c)

10
10 20
10 20 30

Variable number of arguments to the function
Write a code to add all the elements passed as parameter to the function add()

In [ ]:
def add(a, *v):
  s = a
  for n in v:
    s = s + n
  return s


print(add(2))
print(add(2,3,4,5))
print(add(0,7,9,13,40,82))

2
14
151

Write a function to add sum of digits in a number
345 = 3 + 4 + 5 = 12
999 = 27

In [ ]:
def sumdigit(n):

  return sum(list(map(lambda i: int(i) * int(i), list(str(n)))))

print(sumdigit(12))

5

In [ ]:
n = "1234"
k = int(n)

n2 = list(str(n))
n3 = sum(list(map(int, n2)))
print(n2)
print(n3)

['1', '2', '3', '4']
10

MAP-FIlter_Reduce

In [ ]:
def strlen3(s):
  return len(s) >= 3

strlen3("As")

False

In [ ]:
print(list(filter(strlen3, ["abdbd",'ytry','as','th','rgeg'])))

['abdbd', 'ytry', 'rgeg']

In [ ]:
L1 = ["abdbd",'ytry','as','th','rgeg']
L2 = [s for s in L1 if len(s) >= 3]
print(L2)

['abdbd', 'ytry', 'rgeg']

Write a function to determine a number is prime or not.
Then filter out all prime number between 1 - 1000

In [ ]:
def isPrime(n):
  for i in range(2,n//2 + 1):
    if(n % i == 0):
      return False;
  return True;

In [ ]:
isPrime(173)

True

In [ ]:
print(list(filter(isPrime, range(2,1001))))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
def triple(s):
  return s*3

In [ ]:
list(map(triple, range(5)))

[0, 3, 6, 9, 12]

In [ ]:
list(map(triple, "Python"))

['PPP', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']

In [ ]:
list(map(triple, ["Python","is","fun"]))

['PythonPythonPython', 'isisis', 'funfunfun']

In [ ]:
def sumit(x,y):
  return x + y

In [ ]:
from functools import reduce

In [ ]:
reduce(mysum, range(6))

15

define few functions like sum(), diff(), prod(), qt(),div()
operation('+',a,b)

In [ ]:
mysum = sumit

In [ ]:
dayname = {k:v for (k,v) in enumerate(['Sun','Mon','Tue'], 1 )}
dayname[3]

'Tue'