<a href="https://colab.research.google.com/github/piyushparsai/git-repo/blob/main/program1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p=100
r=5
t=10
i=(p*r*t)/100
print(i)

In [ ]:
p,r,t = 1000,7,3
i=(p*r*t)/100
print(p, r, t, i)

In [ ]:
p=1
q='1'
print('p', id(p), type(p))
print('q', id(q), type(q))

s=1
r='1'
print('s', id(s), type(s))
print('r', id(r), type(r))

Mutable and Immutable variables, id of mutable variables gets changed

In [ ]:
print(type(100.0))

In [ ]:
a, b = 50, 100
print ('a = ', a, 'b =', b)
a, b = b,  a
print ('a = ', a, 'b =', b)

# This section is for operators

In [ ]:
print(5/2)
print(5//2)
11%5

In [ ]:
2**5

In [ ]:
print(5 == 5)
print(5 != 4)
print(5 != 5)
print(5 < 4)
print(5 > 5)

## Control Structures

In [ ]:
name=input('Name: ')
print('Good Morning', name, '!')

Name: Piyush
Good Morning  Piyush !

In [ ]:
a = input('a = ')
b = input('b = ')

print(a+b)

a = 1
b = 20
120

In [ ]:
p = int(input('Principle '))
t = int(input('Time '))
r= 5
if(t > 2):
  r = 7
i = (p * r * t)/100
print('Interest = ', i)

Principle 1000
Time 2
Interest =  100.0

In [ ]:
if 1:
  print ('true')

true

In [ ]:
a=100
b=120
c=130

print(a) if (a > b) else print(b)
print(a) if (a > b) else print(b) if (b  > c) else print(c)

120
130

Loop

# 12-Jan-22

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0.0
while i < 10.0:
  print ( i)
  i += 0.10

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6
0.7
0.7999999999999999
0.8999999999999999
0.9999999999999999
1.0999999999999999
1.2
1.3
1.4000000000000001
1.5000000000000002
1.6000000000000003
1.7000000000000004
1.8000000000000005
1.9000000000000006
2.0000000000000004
2.1000000000000005
2.2000000000000006
2.3000000000000007
2.400000000000001
2.500000000000001
2.600000000000001
2.700000000000001
2.800000000000001
2.9000000000000012
3.0000000000000013
3.1000000000000014
3.2000000000000015
3.3000000000000016
3.4000000000000017
3.5000000000000018
3.600000000000002
3.700000000000002
3.800000000000002
3.900000000000002
4.000000000000002
4.100000000000001
4.200000000000001
4.300000000000001
4.4
4.5
4.6
4.699999999999999
4.799999999999999
4.899999999999999
4.999999999999998
5.099999999999998
5.1999999999999975
5.299999999999997
5.399999999999997
5.4999999999999964
5.599999999999996
5.699999999999996
5.799999999999995
5.899999999999995
5.999999999999995
6.099999999999994
6.199999999999994
6.299999999999994
6.399999999999993
6.499999999999993
6.5999999999999925
6.699999999999992
6.799999999999992
6.8999999999999915
6.999999999999991
7.099999999999991
7.19999999999999
7.29999999999999
7.39999999999999
7.499999999999989
7.599999999999989
7.699999999999989
7.799999999999988
7.899999999999988
7.999999999999988
8.099999999999987
8.199999999999987
8.299999999999986
8.399999999999986
8.499999999999986
8.599999999999985
8.699999999999985
8.799999999999985
8.899999999999984
8.999999999999984
9.099999999999984
9.199999999999983
9.299999999999983
9.399999999999983
9.499999999999982
9.599999999999982
9.699999999999982
9.799999999999981
9.89999999999998
9.99999999999998

In [ ]:
number = int(input ('Enter a number'))
for i in range(1,11):
  print(number, 'x', i, '=', number * i)

Enter a number12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
print(number, 'x', i, '= ', (number*i), '')

12 x 10 =  120

In [ ]:
for i in range(1,51):
  isFuzz = i%3 == 0
  isBuzz = isFuzz and i%7 == 0
  if (isBuzz):
    print('Buzz') 
  elif (isFuzz):
    print('Fuzz')
  print(i)

1
2
Fuzz
3
4
5
Fuzz
6
7
8
Fuzz
9
10
11
Fuzz
12
13
14
Fuzz
15
16
17
Fuzz
18
19
20
Buzz
21
22
23
Fuzz
24
25
26
Fuzz
27
28
29
Fuzz
30
31
32
Fuzz
33
34
35
Fuzz
36
37
38
Fuzz
39
40
41
Buzz
42
43
44
Fuzz
45
46
47
Fuzz
48
49
50

In [ ]:
def gcd(a,b):
  "Find greates common divisor of two numbers"
  while(a != 0):
    a, b = b%a, a
  return b

In [ ]:
gcd.__doc__
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
def sum(a, b, c):
  'Add three numbers and return the sum'
  return (int(a) + int(b) + int(c))

In [ ]:
print(sum.__doc__)
print(sum(4,2,6))

Add three numbers and return the sum
12

In [ ]:
def sum():
  '''
  Calculate sum of entered numbers.
  Enter x to complete
  '''
  sum = 0
  while True:
    s = input('Enter a number: ')
    if(s == 'x'):
      break;
    sum = sum + int(s)
  return sum

In [ ]:

print(sum())

Enter a number1
Enter a number67
Enter a number32
Enter a numberx
100

Return multiple values from function

In [ ]:
def sumdiff(a, b):
  'Return both sum and difference of two numbers as a touple'
  return (a+b, a-b)

print(sumdiff(30,6))

(36, 24)

In [ ]:
def myrange(stop, start = 0, step = 1):
  i = start
  while (i < stop):
    print(i)
    i += step
  return

In [ ]:
myrange(11,1,2)

1
3
5
7
9

In [ ]:
def profile():
  return 18, 5.5, "Hello"

In [ ]:
age, hight, message = profile()
print (message)

Hello

strings

In [ ]:
s = '0123456789'
# print(s[::])
# print(s[3:7])
# print(s[::2])
# print(s[-6:-1])
# print(s[-2:-6:-1])
print(s[4:-2:1])

print(s[::-2])

4567
97531

In [ ]:
print(s[2::-1])

210

In [ ]:
if s.isdigit():
  snum = int(s)
print (type(s), s)
print (type(snum), snum)

<class 'str'> 0123456789
<class 'int'> 123456789